<% if commit.blank? %>
  Not scheduled yet
<% elsif commit.pending? %>
      Pending
<% elsif commit.running? %>
  <%= image_tag 'spinner.gif' %> Running
<% elsif commit.succeded? %>
    <span class="glyphicon glyphicon-ok-sign"></span> Success
<% elsif commit.failed? %>
    <span class="glyphicon glyphicon-thumbs-down"></span> Error
<% end %>
