<% if !defined?(build) || build.nil? %>
  Not scheduled yet
<% elsif build.pending? %>
      Pending
<% elsif build.running? %>
  <%= image_tag 'spinner.gif' %> Running
<% elsif build.succeded? %>
    <span class="glyphicon glyphicon-ok-sign"></span> Success
<% elsif build.failed? %>
    <span class="glyphicon glyphicon-thumbs-down"></span> Error
<% end %>
