<div class="page-header" id="tasks">

  <%= link_to_modal new_task_path(project_id: @project.id, format: "js"), class: "btn btn-link pull-right" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Task
  <% end %>

  <h3>Tasks</h3>

  <% if @project.build_tasks.present? %>
    <table class="table table-bordered" id="task-list">
      <tbody>
        <%= render @project.build_tasks %>
      </tbody>
    </table>

    <% else %>

    <p>There are no tasks in this project yet.</p>
  <% end %>

</div>
