<div class="page-header">
  <%= link_to new_project_path, class: "btn btn-primary pull-right" do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add a Project
  <% end %>
  <h1>Projects</h1>
</div>

<table class="table table-bordered table-striped" id="project-list">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Last build</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @projects %>
  </tbody>
</table>
