<div class="page-header">
  <h1 class="modal-title">Add project from <%= @org.name %> </h1>
</div>

<table class="table table-bordered" id="repos-list">
  <tbody>
    <% @repos.each do |repo| %>
      <%= render "repo", repo: repo %>
    <% end %>
  </tbody>
</table>
