@import "theme";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";

$success-color: #dff0d8;
$danger-color:   #f2dede;

input#project_workers{
  max-width: 80px;
}

#branch_nav_form{
  padding-top: 20px;
}

#branch_nav_form{
  min-width: 150px;
}

#latest-commits .pagination{
  @include clearfix;
  float: right;
}

.small-avatar{
  max-height: 32px;
  max-width: 32px;
  margin: 8px 0px;
  float: left;
}

#tasks{
  .name, .command, .actions{
    padding: 10px 0 0 20px;
  }

  tr.task{
    height: 42px;
  }

  .arrows-cell{
    max-width: 52px;
    span {
      color: #666;
    }
  }
}

.refresh-link{
  margin-top: 5px;
}

.success{
  background-color: $success-color;
}

.danger, .failed{
  background-color: $danger-color;
}

.job_title{
  cursor: pointer;
}

.modal-content{
  padding: 0 40px;
}

.or{
  margin: 0 10px;
}

section.with-margins{
  margin-bottom: 40px;
}

.repo-name{
  margin: 20px;
}
