<% if !defined?(status) || status.nil? %>
  Not scheduled yet
<% elsif status.pending? %>
      Pending
<% elsif status.running? %>
  <%= image_tag 'spinner.gif' %> Running
<% elsif status.succeded? %>
    <span class="glyphicon glyphicon-ok-sign"></span> Success
<% elsif status.failed? %>
    <span class="glyphicon glyphicon-thumbs-down"></span> Error
<% end %>
